[2016-01-31 20:52] Wall-Dough opened #3 "Create pedometer module"
_< no comment >_

---
- **Estimated Time:** _1 hours._
- **Prerequisites:** _Google Fit API._

[2016-01-31 20:52] Wall-Dough opened #4 "Keep count of total steps taken"
Pedometer module

---
- **Estimated Time:** _1 hours._
- **Prerequisites:** _Sensor Integration._

[2016-01-31 20:52] Brahmancer opened #5 "Track Calorie Intake"
Implement a feature where a user can input their calorie intake for the day. This would come with a creation of a Nutrition Module.

---
- **Estimated Time:** _4 hours._
- **Prerequisites:** _Nutrition Module._

[2016-01-31 20:52] brandonschabell opened #6 "Track my run or cycling route"
_Import live location data to track user's location, pacing information, distance traveled, etc. This data must be saved following the run/cycle route._

---
- **Estimated Time:** _12 hours._
- **Prerequisites:** _Google Fit API, Google Maps API, Sensor Integration, Geofencing?._

[2016-01-31 20:52] Wall-Dough opened #7 "Show trends in walking habits"
Pedometer module

---
- **Estimated Time:** _8 hours._
- **Prerequisites:** _Calendar View, Sensor Integration, Machine Learning._

[2016-01-31 20:52] MrJohnson opened #8 "Workout logging"
Implement a feature that allows a user to enter workout information

---
- **Estimated Time:** _2 hours._
- **Prerequisites:** _None._

[2016-01-31 20:54] Brahmancer opened #9 "Observe Calorie History: UI Edition"
Implement a calorie intake history such that the user can see it in the form of a log and a graph.

---
- **Estimated Time:** _9 hours._
- **Prerequisites:** _Calendar View, Nutrition Module._ _Nutrition ViewModel_

[2016-01-31 20:54] Brahmancer opened #10 "Suggest Diet"
Implement a feature where the app will recommend a diet to the user based on user info.
### Sprint 3:

Improve upon NutrientQuery class
Link NutrientQuery class to other modules
Improve upon ConditionModule

---
- **Estimated Time:** _8 hours._
- **Prerequisites:** _Nutrition Module, Calendar View, Machine Learning._

[2016-01-31 20:55] MrJohnson opened #11 "User graphs"
Implement a feature that displays graphical data from the user's logged workouts

---
- **Estimated Time:** _2 hours._
- **Prerequisites:** _Exercise Module, Calendar View._

[2016-01-31 20:55] brandonschabell opened #12 "Have live pacing, time, and distance feedback"
_< no comment >_

---
- **Estimated Time:** _4 hours._
- **Prerequisites:** _Google Maps API, TTS Support, Activity Module._

[2016-01-31 20:55] Brahmancer opened #13 "Favorite Foods"
Allow the user to input a list of their favorite foods for the app to see, use, and edit and such that it provides meaningful feedback for data.

---
- **Estimated Time:** _3 hours._
- **Prerequisites:** _None._

[2016-01-31 20:55] brandonschabell opened #14 "See a history of my past routes"
_< no comment >_

---
- **Estimated Time:** _1 hours._
- **Prerequisites:** _Calendar View, Sensor Integration, Activity Module._

[2016-01-31 20:56] Wall-Dough opened #15 "Show average walking speed"
_< no comment >_

---
- **Estimated Time:** _4 hours._
- **Prerequisites:** _Sensor Integration._

[2016-01-31 20:56] brandonschabell opened #16 "Have training programs available to me"
_< no comment >_

---
- **Estimated Time:** _None._
- **Prerequisites:** _None._
- **Concerns:** _May be out of context for the app, or difficult to provide support for._

[2016-01-31 20:56] Brahmancer opened #17 "Medical Condition"
Allow the user to specify a health condition so that the app can use that to build diets and recipes.

---
- **Estimated Time:** _3 hours._
- **Prerequisites:** _Prescription Module, Recipe Database._

[2016-01-31 20:56] MrJohnson opened #18 "Workout planning"
Implement a feature that allows users to build predefined "workouts" with lists of different activities.

---
- **Estimated Time:** _4 hours._
- **Prerequisites:** _UI, Workout Module._

[2016-01-31 20:56] Wall-Dough opened #19 "Calculate and track length of stride"
_< no comment >_

---
- **Estimated Time:** _10 hours._
- **Prerequisites:** _Google Fit API, Unknown?._

[2016-01-31 20:56] Wall-Dough opened #20 "Calculate and track estimated calorie expenditure"
_< no comment >_

---
- **Estimated Time:** _8 hours._
- **Prerequisites:** _Sensor Integration, Nutrition Module, Calendar View, Machine Learning, Calorie Database._

[2016-01-31 20:57] Brahmancer opened #21 "Reminders"
Implement reminders so the user can stay focused on their diet.

---
- **Estimated Time:** _2 hours._
- **Prerequisites:** _Nutrition Module, Prescription Module, Alarm UI._

[2016-01-31 20:57] brandonschabell opened #22 "Know how many calories I burned during my route"
_This module will be able to calculate how many calories are burned during a run/cycle route (and provide live information as well). This information will be calculated using user information (height, weight, age, gender, etc.) and pacing information. This information will need to be displayed live during a workout and be saved following a completed route._

---
- **Estimated Time:** _5 hours._
-

[2016-01-31 20:57] brandonschabell opened #23 "Import data from fitness wearables"
_< no comment >_

---
- **Estimated Time:** _1 hour._
- **Prerequisites:** _Google Fit API._

[2016-01-31 20:57] Wall-Dough opened #24 "Show and log amount of time spent walking"
Stopwatch readily available in pedometer module

---
- **Estimated Time:** _1 hours._
- **Prerequisites:** _Stopwatch UI, Sensor Integration._

[2016-01-31 20:57] brandonschabell opened #25 "Create running or cycling routes"
_Module will be able to design a route that follows roads and paths. The module must be capable of calculating distances and saving route information._

---
- **Estimated Time:** _6 hours._
- **Prerequisites:** _Sensor Integration._

[2016-01-31 20:57] Wall-Dough opened #26 "Optional tracking of walking paths and distances"
Integration with Google Maps / Locations?

---
- **Estimated Time:** _2 hours._
- **Prerequisites:** _Google Maps API, Sensor Integration._

[2016-01-31 20:58] brandonschabell opened #27 "Hear my current route time and average pace at intervals I choose"
_< no comment >_

---
- **Estimated Time:** _2 hours._
- **Prerequisites:** _Activity Module, Sensor Integration, TTS Integration._

[2016-01-31 20:58] Brahmancer opened #28 "Suggest Recipes"
Suggest Recipes for the User

Use the Recipe Puppy API to get recipes.
### Sprint 3:

Show a thumbnail image for recipes?
Link RecipeQuery class to other modules

---
- **Estimated Time:** _Unknown._
- **Prerequisites:** _Nutrition Module._

[2016-01-31 20:59] Brahmancer opened #29 "Locate Restaurant"
Provide a list of Restaurants based on User Information.

---
- **Estimated Time:** _2 hours._
- **Prerequisites:** _Google Maps API, Nutrition Module._

[2016-01-31 21:00] Brahmancer opened #30 "Cheat Days"
Implement a Cheat Day visual log with a certain amount of cheat days permitted for the User. The user will be alerted about their cheat days and can enable and disable the use of cheat days.

---
- **Estimated Time:** _4 hours._
- **Prerequisites:** _Nutrition Module._ _NutritionViewModel_ _Reminders_

[2016-01-31 21:03] colinrford opened #31 "Daily Health Overview"
Summarize the user's daily health and display this summary in some intuitive way, such as with a graph, etc.

---
- **Estimated Time:** _12 hours._
- **Prerequisites:** _Sensor Integration, Calendar View, Graph View._

[2016-01-31 21:05] avaidyam opened #32 "Catalog all sleep deficits during a week"
A fundamental part of all sleep tracking functions involve receiving accelerometer and microphone data and processing them for meaningful information. The accelerometer would function if the phone is placed next to the user during their nap or sleep, and corresponding microphone data would indicate restless sleep.

This information coupled with the user's biological sleep cycle can explain sleep d

[2016-01-31 21:06] avaidyam opened #33 "Know how often and when a user snores"
See #32 for implementation detail.

[2016-01-31 21:06] colinrford opened #34 "Intuitive Data Entry"
Provide user with an interface to add relevant health-related information in a swift, intuitive manner.

---
- **Estimated Time:** _4 hours._
- **Prerequisites:** _None._

[2016-01-31 21:06] avaidyam opened #35 "Better alarm control based on biological sleep cycles in automatically calculated sleep intervals"
Based in implementation detail from #32 along with the built in [AlarmClock](http://developer.android.com/reference/android/provider/AlarmClock.html).

Each sleep cycle is 90 minutes long; the beginning of a cycle can be identified by the lack of sensor input, possibly.

---
- **Estimated Time:** _2 hours._
- **Prerequisites:** _None._

[2016-01-31 21:06] avaidyam opened #36 "Understand why a user might have trouble sleeping on certain days"
See #32, #33, #34, #37. From this information, a "sleep coefficient" can be calculated (that is, how restful the nap/sleep was, and if the duration per 24-hour period was 7.5 hours or greater).

This information, along with prescription data, and related exercise and nutrition information could explain things like an overworked schedule or lack of nutrition. It can also suggest possible treatments

[2016-01-31 21:07] avaidyam opened #37 "Understand if any of a user's prescription or over-the-counter medications will impede their ability to sleep well"
This would require a built-in `Prescriptions` module or similar with a set of medications that the user will be on. In that case, look the medication up in a database like OpenFDA for known sleep-related side effects. This can be displayed to the user as a non-intrusive alert.

---
- **Estimated Time:** _11 hours._
- **Prerequisites:** _Prescriptions Module._

[2016-01-31 21:07] avaidyam opened #38 "Soothing sleep sounds, designed to ease the stress from a workday"
Would be simple enough to provide a set of noises as mp3 samples:
- Rain
- Thunder
- Fire
- Wind
- Birds
- Insects

Allow the user to set the volume level and fade in/out period, and save these combinations as presets. Optionally, allow randomizing ("meandering") the different noises.

---
- **Estimated Time:** _1 hour._
- **Prerequisites:** _None._

[2016-01-31 21:10] colinrford opened #39 "Intuitive App Navigation"
Allow the user to be able to access different aspects of the app with ease (fewer 'taps' ideal).

---
- **Estimated Time:** _4 hours._
- **Prerequisites:** _None._

[2016-01-31 21:18] colinrford opened #40 "Weekly/Monthly/Yearly Health Progression"
Present the user's health information over the course of some user-specified time interval (e.g. day, week, month, year) in an easy-to-read and easy-to-understand manner.

---
- **Estimated Time:** _6 hours._
- **Prerequisites:** _CalendarView, MPAndroidChart._

[2016-01-31 21:24] colinrford opened #41 "External App Integration"
If time permits, allow user to integrate the app with other services on the phone, on the Internet, or other devices.

---
- **Estimated Time:** _6+ hours._
- **Prerequisites:** _Everything._

[2016-01-31 21:28] colinrford opened #42 "Health Routine Evaluation"
Give user information on how various aspects of their health routine affect their overall health and how various aspects of their health routine affect other specific aspects.

---
- **Estimated Time:** _12 hours._
- **Prerequisites:** _Coupled with #43._

[2016-01-31 21:29] colinrford opened #43 "Health Routine Suggestions"
Similar to the Health Routine Evaluation, but take information from the evaluation and provide suggestions to or comments on the user's health routine.
### Sprint 3:

Implement an algorithm to analyze the overall progress
Allow suggestions to be displayed on the screen.

---
- **Estimated Time:** _8 hours._
- **Prerequisites:** _Calendar View, Sensor Integration & Tracking._

[2016-02-01 02:22] avaidyam opened #44 "RxJava-based EventBus mechanism"
Complete an RxJava-based EventBus mechanism; the code should be as follows:
### Definition:

[code]
### Sending:

[code]
### Receiving:

[code]

---
- **Estimated Time:** _5 hours._
- **Prerequisites:** _None._

[2016-02-01 02:26] avaidyam opened #45 "Module UI integration hooks"
There should be a set of UI-related hooks in place for a module to reactively control its UI component.
See [Android's Data Binding library](http://developer.android.com/tools/data-binding/guide.html) as well.

@colinrford

---
- **Estimated Time:** _12 hours._
- **Prerequisites:** _Module Support._

[2016-02-01 02:33] avaidyam opened #46 "Realm database and integration"
Attach the Realm database to an Android Application context which is accessible to all modules, and ensure the modules' model layers are all in sync and properly annotated.

See [Realm's guide](https://realm.io/docs/java/latest/) on this.

_Note: Along with the `@Required` annotation, `@NonNull` should be used wherever possible!_

[Good reference on how to integrate along with RxJava.](https://git

[2016-02-01 03:10] avaidyam commented on #41
Suggestions: [IFTTT](https://ifttt.com), [Tasker](http://tasker.dinglisch.net), [Google Fit](https://developers.google.com/fit/?hl=en)

[2016-02-01 03:12] avaidyam commented on #43
Maybe something like this:

![Mio](http://images.mioglobal.com/sitecm/i/pai-home-phone-02.png)

[2016-02-01 03:12] avaidyam commented on #42
See #43 for examples.

[2016-02-01 03:15] avaidyam commented on #39
Perhaps using a [NavigationView](http://antonioleiva.com/navigation-view/) with several views would be helpful. Each row of the sidebar would be a module; we can use Java reflection to find all subclasses of `Module` and display them automatically too!

This would mean `class Module` would need functions `String title()` and `View view()` at the minimum to auto-hook everything together. If we pull

[2016-02-04 17:53] Wall-Dough commented on #24
Should probably use the [Chronometer class](http://developer.android.com/reference/android/widget/Chronometer.html).

[2016-02-04 18:28] Brahmancer commented on #4
There's a open-source pedometer that can be used as a possible jump-off point to implementing our own. https://github.com/bagilevi/android-pedometer

[2016-02-04 18:30] Brahmancer commented on #5
There was alot of pressure being done in Sprint 2. Just trying to alleviate some pressure off that Sprint. If not done during Sprint 1, this should take priority in Sprint 2.

[2016-02-04 18:45] Wall-Dough commented on #8
We should try to find a way to log for each individual exercise which parts of the body are being worked. Some exercise machines show an image of a human body with different muscle sections, and the muscle sections are highlighted depending on the workout. We should try to implement something like that.

[2016-02-04 18:51] colinrford commented on #8
I was thinking more or less the same thing. We should provide a sort of dictionary of common exercises within the app, and easily allow the user to add any additional exercises we don't include. For each exercise we include, we could highlight relevant muscles on a human diagram.

[2016-02-04 18:53] colinrford commented on #29
[Google Places API](https://developers.google.com/android/reference/com/google/android/gms/location/places/ui/PlacePicker) could perhaps help with this?

[2016-02-04 18:58] colinrford commented on #20
Should we expand this beyond just walking/running? I.e., if #8 also kept track of calorie expenditure over the course of various exercises.

[2016-02-04 18:59] colinrford commented on #11
Related to #31 and #40

[2016-02-04 19:00] avaidyam commented on #24
[Here's a good design for it.](https://developers.google.com/glass/develop/patterns/ongoing-task)

[2016-02-04 19:00] colinrford commented on #18
We could potentially also include some popular or trending workouts within the app

[2016-02-04 19:02] colinrford commented on #22
See #20 for comment

[2016-02-04 19:02] avaidyam commented on #4
Even better is that we can use [sample code](https://github.com/j4velin/Pedometer) that hooks into the hardware step sensors. Though the code you linked is usable, it's really convoluted and written badly so it wouldn't make sense to integrate it.

[2016-02-04 19:03] avaidyam commented on #5
:+1:

[2016-02-04 19:04] Wall-Dough commented on #20
Yes, I think we should be sure that we aren't segregating the different modules. They should all be related to each other, for sure.

It might be a good design to make something like calorie tracking a separate module that still references data entered in the other modules.

Know calories burned from running/cycling/exercising/walking as well as calories taken in from diet.

Unfortunately I don't

[2016-02-04 19:04] avaidyam commented on #8
Are there existing databases out there with workout information?

[2016-02-04 19:04] colinrford commented on #15
I would imagine this can be coupled with #24 and #19

[2016-02-04 19:05] Wall-Dough commented on #15
Yeah, it probably can. I think I made these separate simply to inflate our user stories.

[2016-02-04 19:06] colinrford commented on #10
This should be included in the scope of #43

[2016-02-04 19:07] avaidyam commented on #20
Some of @brandonschabell's issues have this idea too. I know Google Fit has API to track running/walking/biking/walking up steps and their transitions. The calories burned will be a function of time, height/weight, and exercise mode, I think.

[2016-02-04 19:07] colinrford commented on #7
Include this in the scope of #40 (edit: Sorry, stupid Github)

[2016-02-04 19:08] avaidyam commented on #18
@colinrford lol, Zumba.

[2016-02-04 19:13] avaidyam commented on #10
//@colinrford @Brahmancer @brandonschabell @Wall-Dough @MrJohnson
I see a lot of  "this and that should work together" and I think we should implement some kind of centralized access to the data. I know we have Realm and all, but how do you all suppose we integrate the data for every module?

[2016-02-04 19:15] colinrford commented on #40
There is a reason #31 and this are separate. DHO focuses specifically on that particular day; my idea is that it will be a more "intimate" or comprehensive evaluation of that single day's routine, whereas the W/M/YHP seeks out trends and habits of the individual's regular routine. They are necessarily different.

[2016-02-04 19:22] Brahmancer commented on #10
So here are a couple of ideas (Spoilers, I'll be thinking in mind of using Realm but this can change if we do not use it):
1. We generate a kind of all-encompassing class that has all the data there. However, this could result in a very cluttered database with a lot of tables that results in spending quality time with a database.
2. Create a class that will store the data for each respected module

[2016-02-04 19:23] avaidyam commented on #40
@colinrford I think we can have an overall "calendar" style view. We can aggregate ALL data from EVERY module, and have granularity on the scale of a day, week, month, or year. This could work well with something like a "health coefficient" which can explain to the user with a simple number (or a 1 - 10 scale) how healthy they are overall.

[2016-02-04 19:29] avaidyam commented on #10
I think we can have the model layers in their own package and go with option 2, like so:

[code]

Then we'll have a module like so:

[code]

This way we can have a true decoupling between all three layers in MVC. Now, for the diet module:

[code]

@Brahmancer How does that sound?

[2016-02-04 19:33] colinrford commented on #10
If I understand 2 properly, @Brahmancer, I think this could be the ideal option, as long as we can quickly compile/gather data from each Module together when we present the daily ( #31 ) and weekly/monthly/yearly ( #40 ) health progression. When the amount of data from each Module becomes quite large, we'll also want to be sure that the accessibility to this data remains quick so that the user see

[2016-02-04 19:33] Brahmancer commented on #10
Just clarifications on the _stepsWalked() method @avaidyam , this would query a database associated with the StepModel for the amount of steps gathered?

[2016-02-04 19:36] Wall-Dough commented on #10
I kinda have an idea:
We have objects for exercise/run/etc. with variables for things like calorie consumption, each is an item such as a set of bicep curls or a 10 minute jog.
An array of pointers to the objects, keyed by day.
Another array of pointers to the objects, keyed by specific exercise.
Another array of pointers to the objects, keyed by source module (run, step, exercise, etc.).
In each

[2016-02-04 19:36] avaidyam commented on #10
@colinrford Yeah, the separation of the model layer (i.e. `StepModel`) would do this, as every module has the same Realm database underlying it. We can also maintain aggregate data that is lazy-computed only once and then stored in the database as well.

@Brahmancer Yes! This is assuming that the abstract `Module` class provides the hook to the underlying Realm database that every module accesses

[2016-02-04 19:37] avaidyam commented on #10
@Wall-Dough Pointers don't happen in Java. :cry:  I'm supposing Realm provides the keying of data, like `SQL` query syntax. @Brahmancer, do you know?

Tries make me cries. We have a database layer, let's see if it does this stuff for us, for free. Free lunches are great! :laughing:

[2016-02-04 19:39] Wall-Dough commented on #10
@avaidyam Java doesn't allow for pointers explicitly, but at least implicitly, right? Like you can set one variable equal to another variable that's an object, and they're the same object?

I guess I'm still thinking in terms of local data. How much of the data would be local, and how much would remain in Realm?

[2016-02-04 19:42] avaidyam commented on #10
Everything in Java is references except primitive types (`int`, `float`, `char`, etc.) Our goal is to move all our data into Realm and not think about it too hard. It should go there and be there, and come back when we need it. :100:

[2016-02-04 19:45] Wall-Dough commented on #10
@avaidyam Got it. I assume some form of caching will be involved though, yes?

[2016-02-04 19:46] Brahmancer commented on #10
So Realm does follow a SQL-like query syntax but in the from of Java Method calls. It may sound a bit confusing but much like SQL queries, it's very intuitive. You can provide a primary key for each module which is stored.

There's also an option of creating multiple Realm "tables" under different names where each module can read, write, and query to.

My thinking is whatever is essentially to the

[2016-02-04 19:50] avaidyam commented on #10
@Wall-Dough Caching is nice. Caching is good. Caching is love.

@Brahmancer Native Java is the bee's knees and totally rocks my socks. Sounds like a plan.

[2016-02-05 04:27] avaidyam opened #47 "Database backup support"
Support the [Android BackupAgent API](http://developer.android.com/training/backup/backupapi.html).

---
- **Estimated Time:** _1 hour._
- **Prerequisites:** _Realm Integration._

Todo:
Use [Android BackupAgent API](http://developer.android.com/training/backup/backupapi.html) to find a way to store backups of the realm file.

[2016-02-05 04:31] avaidyam commented on #4
Here's what we'll ultimately need: [`Sensor.TYPE_STEP_COUNTER`](http://developer.android.com/reference/android/hardware/Sensor.html)

[2016-02-05 04:34] avaidyam commented on #46
Suggested idea:
- `ModuleContext`
  - `applicationContext()`
    - provides Activity and Application backing.
  - `databaseContext()`
    - provides Realm backing.
  - `sensorContext()`
    - provides SensorManager backing.
  - `viewContext()`
    - available for View interaction if one is displayed.

[2016-02-05 13:22] Wall-Dough opened #48 "Stopwatch View"
- Count up ([Chronometer](http://developer.android.com/reference/android/widget/Chronometer.html))
- Count down ([CountDownTimer](http://developer.android.com/reference/android/os/CountDownTimer.html))
- Laps
### TO DO:
- Implement Chronometer class as a module
- Use default views for Chronometer
- Attempt to implement a new UI for the Chronometer
- Implement CountDownTimer as a different mode
- I

[2016-02-05 15:32] avaidyam commented on #48
I like this concept:

![](https://d13yacurqjgara.cloudfront.net/users/32512/screenshots/2283280/3222untitled-1.png)

[2016-02-05 15:38] Brahmancer commented on #46
Could you explain more in detail what this would mean?

[2016-02-05 15:42] avaidyam commented on #46
We went over this in detail in the last meeting, but we can go over it again in our next one, probably Sunday.

Essentially, a module would have an associated context binder; that's where all of the import and export of the model and view stuff would happen. This allows for extreme flexibility, implementation of MVC, and lots of nicer things we'll discuss later.

[2016-02-05 15:47] avaidyam commented on #46
Here's a good example of what I mean.

[code]

[2016-02-05 15:55] Brahmancer commented on #46
That sounds like a good idea. I understand the high level concept so we can discuss more of the nitty gritty details later.

[2016-02-05 15:57] avaidyam commented on #46
Did my updated example make more sense? The decoupling is supposed to make modules reactive to changes on either end of MVC (as the Modules are the controllers themselves). Instead of directly messing with a view, you talk through its `viewContext()` which is a `binder` that is only available to you on the UI thread (we'll all learn how terrible threading is with UI stuff soon...) and sanitizes yo

[2016-02-05 15:58] Brahmancer commented on #47
Would the individual modules have their own backup or would we just have a massive backup for the entire app? I would think it worthwhile to entertain the idea of having both options available to the user.

[2016-02-05 15:59] Brahmancer commented on #46
It does from a backend stand point but I'm not really familiar with how it relates with the UI so it would probably best to go over in detail and in person how exactly the UI interacts with the back end :smile:

[2016-02-05 16:00] avaidyam commented on #47
To make it simple for the module context binding, the **entire** set of all Realms will be backed up. This is only for the currently logged in Google account, and of course it'll be possible to reset all things in a single module's Realm later.

[2016-02-05 16:00] avaidyam commented on #47
This is one of those things where we want it to be a free lunch with little thinking to do. :shipit:

[2016-02-05 16:01] avaidyam commented on #46
See, this is why you come to the meetings :wink:

@colinrford @Wall-Dough we had a blast! :laughing:

[2016-02-05 16:04] Brahmancer commented on #46
Again, I apologize for the short notice of me bailing on on the last meeting.

[2016-02-05 16:04] avaidyam commented on #46
@Brahmancer lol that's fine! Make it to the next one :)

[2016-02-05 16:10] Brahmancer commented on #47
That's cool. Just wanted to be on the same page. I feel like we can add the individual module to the "time permitting" portion of the project however, if the idea is appealing to you. :grin:

[2016-02-09 17:57] avaidyam opened #49 "Standard Units API"
There should be a standard measurement `Unit` API with included conversions from different types. It should support both SI and Imperial unit classes. An example is available [here](http://jsr-108.sourceforge.net/javadoc/javax/units/SI.html) (which can possibly be copied as-is).
### TO DO:

Copy and paste code into project
Integrate code into project
See if it works

---
- **Estimated Time:** _0 h

[2016-02-09 21:52] Wall-Dough opened #50 "Digital emergency card that will be displayed during workouts"
### TO DO:

Set up class for emergency notifications
Set text of notification, maybe an emergency level
Receive request for notification, send notification

Event for sending notification?

---
- **Estimated Time:** _1 hours._
- **Prerequisites:** _Prescriptions Module._

[2016-02-09 21:52] Wall-Dough opened #51 "Prescription alarms"
AlarmManager
SystemAlarms

INSPIRATION
SleepCycle
SleepBetter (Runtastic)
### TO DO:

Use AlarmManager/SystemAlarms classes to schedule alarms for prescription refills
Receive request to set alarm

---
- **Estimated Time:** _3 hours._
- **Prerequisites:** _Prescriptions Module._

[2016-02-09 22:02] avaidyam commented on #49
@brandonschabell

[2016-02-09 23:57] Brahmancer commented on #46
Needed:
An abstract DataBaseContext for database queries, reads, and writes
A RealmContext that extends it to work with Realm
An abstract RealmObject that allows for basis of individual Realm Databases for each Module?

[2016-02-09 23:59] Brahmancer commented on #5
Needed:
Implementing a Nutrition Module w/ database
Basic way of inputing data (with and w/o ui)

[2016-02-10 00:00] Brahmancer commented on #3
Needed:
Pedometer module w/ database
Gather input from Android Sensor? (Use other apps for basis).

[2016-02-10 00:01] Brahmancer commented on #4
Needed:
Working Pedometer to incorporate sensor.

[2016-02-10 03:31] avaidyam commented on #47
@Brahmancer looks like it's fairly simple:

Add the following to the `<application>` tag in `AndroidManifest.xml`:

[code]

And use code something like this for the backup agent:

[code]

Then, when the data is changed, call this:

[code]

Not sure how valid this would be though.

[2016-02-10 10:35] Brahmancer commented on #47
Would this be corresponding to each database that we have set up or one massive backup?

[2016-02-10 13:51] avaidyam commented on #47
Dude, beats me. It's your call if you want it. :)

[2016-02-10 19:19] Brahmancer commented on #47
:+1: I'll figure something out :smile:

[2016-02-11 18:33] Wall-Dough commented on #49
To DO:
Copy and paste code into project
Integrate code into project
See if it works

[2016-02-11 18:40] Wall-Dough commented on #50
TO DO:
Set up class for emergency notifications
Set text of notification, maybe an emergency level
Receive request for notification, send notification
- Event for sending notification?

[2016-02-11 18:42] Wall-Dough commented on #51
Use AlarmManager/SystemAlarms classes to schedule alarms for prescription refills
Receive request to set alarm

[2016-02-11 18:44] colinrford commented on #39
Become familiar with the NavigationView as well as Material Design
Create several mockup UI's with Sketch, and learn how to manipulate/create UI through code
Test on each group member's device

[2016-02-11 18:48] colinrford commented on #15
Use what has been provided by Android already
Perform some easy math
Test

[2016-02-11 18:48] colinrford commented on #7
This should more or less be free with Android
So, figure out how to integrate what currently exists into our app
Test

[2016-02-11 19:05] #44 closed, assigned to avaidyam

[2016-02-11 19:19] avaidyam opened #53 "SensorContext implementation"
Right now, the Android `SensorManager` is very disjoint from the system as a whole; instead, use `BaseApplication` to bootstrap a `SensorContext` which will remain available and configurable by events.

---
- **Estimated Time:** _2 hours._
- **Prerequisites:** _None._

[2016-02-11 19:21] colinrford commented on #41
(I don't know how interested I am in this, just for future reference... if anyone else wants to volunteer)

[2016-02-11 19:30] Brahmancer commented on #46
@avaidyam, this may seem like a silly question but here it goes. For a Context, this is something that would be implemented by us the developers? If so, is there a good guide on implementing just a general Context?

Edit: Brainwave. Would it be a bad idea to base the Realm Contexts off of the context at the start of the application?

[2016-02-12 04:02] avaidyam commented on #46
@Brahmancer The `Context` as in the global [**Android** `Context` god-object](https://possiblemobile.com/2013/06/context/)? Or the definition of a "context" we'll be using? Literally, it means "the circumstances that form the setting for an event, statement, or idea, and in terms of which it can be fully understood and assessed."

**tl;dr** a `Context` is a "circumstance" object that, when availab

[2016-02-12 04:09] MrJohnson commented on #50
This should be implemented so that it is quickly accessible during any physical "activity." The challenge will be to find a way to make it easily accessible and semi-obvious while remaining unobtrusive. I will be working on the exercise logging, so assisting on this issue/feature seems logical.

[2016-02-12 04:12] MrJohnson commented on #9
I wonder if we should move this issue to Sprint 2. I think Sprint 1 should be focused on core functionality, and Sprint 2 will focus more on data analysis. However, this particular feature does seem fairly straightforward once nutrition logging is implemented.

[2016-02-12 04:17] MrJohnson commented on #8
To get started on this, I've been playing around with a few workout logging apps for ideas and inspiration. I will need to create a WorkoutModel Class as well as a WorkoutActivityModel Class (although probably avoid the keyword "Activity" to minimize confusion with "Activities" as they pertain to Android). The main task for me starting will be learning the ins-and-outs of Realm.

[2016-02-12 04:20] MrJohnson commented on #6
Hopefully this Module should be a little more straightforward than some of the others. I do have some experience working with Google Maps in Android, so if you run into trouble I can try to assist. If we are not able to pull tracking data straight from Android, building our own implementation would be pretty straightforward: collect location data ever few seconds, save the Markers in an Array with

[2016-02-12 04:23] MrJohnson commented on #25
Again, I do have some experience with Google Maps on Android, so if you run into trouble I can try to assist.

[2016-02-12 04:32] avaidyam commented on #50
A suggestion is to use Android's **Ongoing Notification** with a custom view.

[code]

It's all dusty in the corners of my mind, but it'd be something like that. It might look something like this:
![](http://i.stack.imgur.com/a7XDm.png)

Except, it wouldn't be in the notification ticker at the top -- only visible if you slide down the notification shade.

[2016-02-12 04:33] avaidyam commented on #9
This also aligns pretty well with the "calendar" or "summary" view we had in mind with issue #40. Sprint #3 might be better. Any thoughts @MrJohnson @Brahmancer?

[2016-02-12 04:34] avaidyam commented on #8
@MrJohnson Don't worry about the `Activity` name -- we're package scoped as `com.sciencesquad.health` for a reason. 😏

[2016-02-12 11:25] Brahmancer commented on #46
I guess from how the application will run, we'll set up all the modules upon launching of the application right so that every module can grab that context. if need be.

[2016-02-12 11:28] Brahmancer commented on #9
I think we should start looking at this in Sprint 2. What I'm going to do during this sprint and essentially get Realm set up on one of the Modules (Nutrition) so I can see how one module will interact with it's realm. Once I got it working, I'll create a wiki page so that everyone creating a module can set it up in the same way. With that set up, we can start finding ways on how we would store da

[2016-02-13 04:51] avaidyam commented on #9
:+1: Just moved it over. I was taking a good look at apps like Jawbone's UP, and they have REALLY nice summary and "tends" views. I'll go over those in our next meeting.

[2016-02-13 04:52] avaidyam commented on #46
@Brahmancer Better do it in a way that we never have to deal with that god-forsaken `Context` nonsense after the application startup.

[2016-02-13 04:53] avaidyam opened #54 "App Icon + Branding"
Any thoughts on how we want this to look? I can sketch up a simple icon or something if anyone has ideas. We will need to take care of it soon though.

[Here's a good design guideline thing.](http://appicontemplate.com/android-product-icons/)

---
- **Estimated Time:** _2 hours._
- **Prerequisites:** _None._

[2016-02-13 22:31] colinrford commented on #24
I updated this to include it in **Sprint 1** because of it's relation to #15 and #19

[2016-02-13 22:33] colinrford commented on #19
Please let me know if my updated time commitment is too much of an exaggeration. I doubled because I figured it's gonna take a bit of time to get acquainted with related API's. Also, I assigned myself to this and moved it to **Sprint 1** because of it's relation to #24 and #15

[2016-02-14 00:22] avaidyam commented on #49
Deferred until necessity arises.

[2016-02-14 00:22] #49 closed, assigned to Wall-Dough

[2016-02-21 05:00] avaidyam commented on #38
Issue update: Acquired 35 MB of nature sounds from ASoftMurmur.

[2016-02-25 03:37] colinrford commented on #46
We can check this guy off the list! #55

[2016-02-25 03:37] #46 closed, assigned to Brahmancer

[2016-02-25 03:38] Brahmancer commented on #47
Added in with #55. Grabbed a key from Google and we should be able to use it now.

[2016-02-25 03:38] #47 closed, assigned to Brahmancer

[2016-03-01 03:09] avaidyam commented on #38
Issue update: **Operational!**

Currently, meandering is done by default-- a user interface for the sounds should be added to control individual volume levels.

[2016-03-02 01:48] #48 closed, assigned to Wall-Dough

[2016-03-02 01:48] Wall-Dough commented on #48
WHOO!

[2016-03-03 04:03] colinrford commented on #53
This is done!

[2016-03-03 04:03] #53 closed, assigned to avaidyam

[2016-03-03 04:04] colinrford commented on #38
this is done as well!

[2016-03-03 04:04] #38 closed, assigned to avaidyam

[2016-03-03 04:07] colinrford commented on #37
are we planning on doing this in sprint 1 or 2? @Wall-Dough

[2016-03-03 04:08] colinrford commented on #51
is this also sprint 1 still @Wall-Dough ?

[2016-03-03 04:08] colinrford commented on #32
just curious if this was sprint 1 still or sprint 2? @avaidyam

[2016-03-03 04:10] avaidyam commented on #32
Sprint 1. @colinrford you underestimate my ability, young padawan. :wink:

[2016-03-03 04:23] colinrford commented on #32
Lolol not at all! Looking forward to seeing this in action

[2016-03-03 04:24] avaidyam commented on #32
Basically, I'm gonna get rekt tomorrow night. :grinning:

[2016-03-03 18:53] Wall-Dough commented on #51
@colinrford Yep, working on it now!

[2016-03-03 20:06] colinrford commented on #24
I'm gonna tag this along with #4 too

[2016-03-04 03:44] colinrford commented on #50
this is good! you're the best @Wall-Dough!

[2016-03-04 03:44] #50 closed, assigned to Wall-Dough

[2016-03-04 03:45] colinrford commented on #51
@Wall-Dough I assume this guy is done too?

[2016-03-04 03:45] #51 closed, assigned to Wall-Dough

[2016-03-04 03:51] colinrford commented on #51
this is technically not done! but will be soon

[2016-03-04 04:06] avaidyam commented on #6
Done!

[2016-03-04 04:06] #6 closed, assigned to brandonschabell

[2016-03-04 04:06] avaidyam commented on #22
Done!

[2016-03-04 04:06] #22 closed, assigned to brandonschabell

[2016-03-04 04:07] avaidyam commented on #3
Done. #65

[2016-03-04 04:07] #3 closed, assigned to Brahmancer

[2016-03-04 04:07] avaidyam commented on #4
Done. #65

[2016-03-04 04:07] #4 closed, assigned to Brahmancer

[2016-03-04 04:07] avaidyam commented on #5
@Brahmancer How is this doing?

[2016-03-04 04:08] avaidyam commented on #37
@Wall-Dough How is this doing?

[2016-03-04 04:11] #5 closed, assigned to Brahmancer

[2016-03-04 04:12] Brahmancer commented on #5
#64

[2016-03-04 13:06] colinrford commented on #39
I just want to remember this repo later https://github.com/Clans/FloatingActionButton

[2016-03-04 17:14] colinrford commented on #19
done

[2016-03-04 17:14] #19 closed, assigned to colinrford

[2016-03-04 17:14] colinrford commented on #15
done

[2016-03-04 17:14] #15 closed, assigned to colinrford

[2016-03-04 17:23] colinrford commented on #24
done'

[2016-03-04 17:23] #24 closed, assigned to colinrford

[2016-03-04 17:57] colinrford commented on #37
done

[2016-03-04 17:57] #37 closed, assigned to Wall-Dough

[2016-03-04 20:32] #18 closed, assigned to MrJohnson

[2016-03-04 20:32] colinrford commented on #32
Shall we close? We are so close to filling the green bar!!!

[2016-03-04 20:32] #8 closed, assigned to MrJohnson

[2016-03-04 20:33] avaidyam commented on #32
yes!

On Fri, Mar 4, 2016, 3:32 PM Colin Ford notifications@github.com wrote:

##

Aditya.

[2016-03-04 20:34] #32 closed, assigned to avaidyam

[2016-03-04 20:34] colinrford commented on #45
Just one more!!! @Wall-Dough @avaidyam @Brahmancer @MrJohnson @brandonschabell

[2016-03-04 20:47] avaidyam commented on #45
This is what I've been working on this whole time, Colin.... lol :smile:

[2016-03-04 20:47] #45 closed, assigned to avaidyam

[2016-03-05 21:00] Brahmancer commented on #9
This would be more of graphical data history then?

[2016-03-05 21:11] Brahmancer opened #70 "Barcode Scanner"
Have functionality where the app can scan barcodes and produce meaningful data from it and show it to the user.

---
- **Estimated Time:** _9 hours_
- **Prerequisites:** _NutritionModule_ _NutritionViewModel_ _Barcode Scanner API_

[2016-03-05 21:42] Brahmancer commented on #30
See #21

[2016-03-06 05:19] avaidyam commented on #70
[Use ZXing.](http://stackoverflow.com/questions/2050263/using-zxing-to-create-an-android-barcode-scanning-app)

[2016-03-07 06:05] colinrford commented on #40
I think this makes more sense in sprint 3

[2016-03-07 06:08] colinrford commented on #7
Are we allowed to move this to sprint 3? cause I think most trend related user stories should be sprint 3

[2016-03-07 06:13] colinrford commented on #42
This encompasses more than just a display/UI, but I don't know how to label it accordingly

[2016-03-07 06:15] colinrford commented on #39
This is going to take some time since we are going to need to perform a transition to MVVM

[2016-03-07 06:26] avaidyam commented on #39
@colinrford Not really, I have great ideas coming up. It will be done in the next few days.

[2016-03-07 06:28] colinrford commented on #42
This is actually going to take a while because I need to create an overview "module" that is able to talk to all of the modules and their realms, collect relevant data, analyze it and spit out some sort of number or evaluation of the user's overall health

[2016-03-07 06:31] avaidyam commented on #42
@colinrford Good approach. I think we should actually move the "number crunching" into the individual module. That is, each module would report their "health coefficient" and the `OverviewModule` would just average it all, and show a little chart, along with suggestions.

To be fair, this is exactly what the **entire** Apple Health and Google Fit app does. We're kinda going above and beyond!

[2016-03-07 06:34] colinrford commented on #42
@avaidyam Perhaps, then, included in this task I will work with each module (and that module's respective person) to create these health coefficients

[2016-03-07 06:34] colinrford commented on #39
plz shr

[2016-03-07 06:36] colinrford commented on #34
I'm including testing n all that in this number. It may turn out to be too much, may turn out to be too little

[2016-03-07 06:37] avaidyam commented on #42
@colinrford MVP! Sounds like a plan. :)

[2016-03-07 06:39] colinrford commented on #31
Remember: https://github.com/jjoe64/GraphView

[2016-03-07 07:14] colinrford commented on #7
@Wall-Dough @avaidyam @Brahmancer @brandonschabell @MrJohnson I'm moving this to sprint 3 unless we are required to do this in sprint 2 since it was listed in Mason's sprint 1 list

[2016-03-07 07:24] avaidyam commented on #7
@colinrford all trends things can be moved to Sprint 3. We'll need quite a bit of work on it first. I'll try to "pioneer" it with the sleep trends (which are stupid easy).

[2016-03-07 07:30] avaidyam commented on #39
Using the Android `Loader` to connect the `Module` to the View instead of writing my own logic. Then, use the `Intent` system to show new `Module`s or stuff. (Something like `Module.displayModule(Intent)` would do, kinda like `Context.startActivity(Intent)`)

[2016-03-07 07:32] colinrford commented on #39
Brilliant!

[2016-03-07 12:17] Wall-Dough opened #71 "Better UI for prescription alarms"
Something like the stock Google Clock app.

[2016-03-07 12:37] Wall-Dough commented on #10
Idea: For diet/recipe recommendations, include several options for a given diet based on how much time/funds someone has available for food preparation.

E.g.:
Make it for me - recommend a restaurant
I've got some free time - recommend a quick and easy recipe - include slow cooker recipes, since they're relatively hands-off
I've got all the time in the world - no necessary time limit

[2016-03-07 13:52] avaidyam commented on #10
@Wall-Dough we could abstract it into categories "Make it for me, I'm no cook, and Master Chef". This would absolutely awesome for me since I could then tell our app "pls gimme some pizzer and mcdoobies" without feeling bad....

[2016-03-07 22:31] #12 closed, assigned to brandonschabell

[2016-03-07 23:06] Wall-Dough commented on #10
@avaidyam

:hamburger: :ok_hand: :dash:

[2016-03-07 23:08] avaidyam commented on #10
:rocket:

[2016-03-08 04:55] MrJohnson opened #72 "Create a user profile model"
- Create a data model for a general profile with basic information about my health such as age, height, weight, etc. relevant to all modules
- Implement the ProfileModel class
- Create a UI for the user to create their profile and entire their basic information

[2016-03-08 04:59] MrJohnson opened #73 "Import popular and/or recommended workouts"
This will involve creating several "recommended" workouts in JSON for testing purposes.
Perhaps create a simple server to host these workouts for download if time permits.

[2016-03-08 05:21] MrJohnson opened #74 "Workout schedule"
- Integrate calendar support for the WorkoutModule
- Create a UI element that allows a user to set dates/days of the week for a specific workout

[2016-03-08 07:15] MrJohnson opened #75 "Social media integration"
Allow users to post their achievements to social media.
Initially, I didn't think I really wanted this feature, but this is a frequently requested feature from people I've spoken with about health apps.

Furthermore, if we launch the app, "sharing" is essentially free advertising.

[2016-03-08 18:17] avaidyam commented on #75
I think this technically counts as part of #41.

[2016-03-08 21:26] #26 closed, assigned to nobody

[2016-03-08 21:27] Wall-Dough commented on #26
See #6

[2016-03-08 21:27] Brahmancer commented on #20
#22 could be useful.

[2016-03-08 21:54] brandonschabell opened #76 "Create a working UI and layout"
_< no comment >_

---
- **Estimated Time:** _12 hours._
- **Prerequisites:** eh*

[2016-03-29 20:00] Wall-Dough commented on #28
A comprehensive nutrition database with an API to access it!

https://ndb.nal.usda.gov/ndb/doc/index

[2016-03-29 20:10] Wall-Dough commented on #28
A less than comprehensive collection of recipes, presented as xml files. A good starting point, if anything.

http://www.esha.com/resources/additional-databases/

[2016-03-29 20:15] Wall-Dough commented on #28
A good collection of recipes with an API!
:clap: :clap: :clap: :clap: :clap: :clap:

http://developer.pearson.com/apis/pearson-kitchen-manager/

[2016-03-29 20:43] Wall-Dough commented on #28
Pearson Kitchen Manager doesn't work.

This should work: http://api.bigoven.com/documentation

[2016-03-29 21:07] Wall-Dough commented on #28
BigOven requires a payment plan in order to search by ingredients.

Recipe Puppy has a URL based API for searching by ingredients.

http://www.recipepuppy.com/about/api/

[2016-04-03 21:12] Wall-Dough opened #80 "Merge Clock and Alarm into Prescriptions"
Do it! Make it happen!

[2016-04-06 02:44] avaidyam commented on #80
@Wall-Dough @colinrford @Brahmancer @brandonschabell @MrJohnson We need this to be done ASAP. It's not even that hard, but I'm working on other things. Can any one of you do this ASAP?

[2016-04-07 00:58] brandonschabell commented on #76
Done!

[2016-04-07 00:58] #76 closed, assigned to brandonschabell

[2016-04-07 00:58] brandonschabell commented on #25
Done!

[2016-04-07 00:58] #25 closed, assigned to brandonschabell

[2016-04-07 00:58] brandonschabell commented on #27
Done!

[2016-04-07 00:58] #27 closed, assigned to brandonschabell

[2016-04-07 01:02] avaidyam commented on #39
@colinrford @Wall-Dough @MrJohnson @Brahmancer @brandonschabell Marking as done, as of today.

[2016-04-07 01:02] #39 closed, assigned to avaidyam

[2016-04-07 16:46] Brahmancer commented on #70
Really good link http://stackoverflow.com/questions/18543668/integrate-zxing-in-android-studio

[2016-04-07 17:40] #70 closed, assigned to Brahmancer

[2016-04-07 17:40] Brahmancer commented on #70
#87

[2016-04-07 17:40] Brahmancer commented on #21
#87

[2016-04-07 17:40] Brahmancer commented on #30
#87

[2016-04-07 17:40] #30 closed, assigned to Brahmancer

[2016-04-07 17:40] #21 closed, assigned to Brahmancer

[2016-04-07 17:41] Brahmancer commented on #13
#87

[2016-04-07 17:41] #13 closed, assigned to Brahmancer

[2016-04-07 17:41] Brahmancer commented on #9
#87

[2016-04-07 17:41] #9 closed, assigned to Brahmancer

[2016-04-07 20:43] colinrford commented on #20
@Wall-Dough @avaidyam @Brahmancer @brandonschabell @MrJohnson no one has worked on this have they

[2016-04-07 20:46] Brahmancer commented on #20
Looking at the Sprint Planning Document, that was a part of the Sprint Backlog so we can push this back to a later sprint.

[2016-04-07 20:47] avaidyam commented on #20
@Brahmancer can you post to me on Slack the stuff on my backlog for this sprint? It seems like it's not synced.

[2016-04-07 20:50] Brahmancer commented on #20
@avaidyam Sent to you your user stories via direct message on slack.

[2016-04-08 17:26] colinrford commented on #42
This is done for sprint 2!

[2016-04-08 17:26] #42 closed, assigned to colinrford

[2016-04-08 17:27] colinrford commented on #31
done for sprint 2!

[2016-04-08 17:27] #31 closed, assigned to colinrford

[2016-04-08 17:28] colinrford commented on #34
Done for sprint 2, but will expand upon in sprint 3

[2016-04-08 17:29] #17 closed, assigned to Wall-Dough

[2016-04-08 17:29] #71 closed, assigned to Wall-Dough

[2016-04-08 17:29] #80 closed, assigned to Wall-Dough

[2016-04-08 17:30] colinrford commented on #20
I guess this is being pushed back to **Sprint 3**?

[2016-04-08 17:31] Brahmancer commented on #20
It doesn't have to be. If someone wants to take it for Sprint 3, we can.

[2016-04-08 17:42] avaidyam commented on #20
Sprint 3 it is!

[2016-04-08 18:15] #72 closed, assigned to MrJohnson

[2016-04-08 18:15] #73 closed, assigned to MrJohnson

[2016-04-08 19:13] #11 closed, assigned to MrJohnson

[2016-04-09 14:20] #33 closed, assigned to avaidyam

[2016-04-09 14:20] #35 closed, assigned to avaidyam

[2016-04-09 14:20] #36 closed, assigned to avaidyam

[2016-04-09 14:25] #54 closed, assigned to colinrford

[2016-04-10 16:08] brandonschabell opened #97 "Run/Cycle Realm Integration"
As a user, I would like to save my routes (both free runs and manually entered runs).
- Integrate fragment with Realm
- Create Realm object after a run
- Create Realm object after “create route” completed

[2016-04-10 18:09] Brahmancer opened #98 "Input specific foods that I have eaten today"
Flesh out the feature that makes the Nutrition Module useful in the modern day.

---
- **Estimated Time:** _9 hours_
- **Prerequisites:** _Nutrition Database_ _Nutrition Module_ _Nutrition UI_

[2016-04-10 18:10] Brahmancer opened #99 "Scan barcodes to grab meaningful information that will be saved"
Make the actual barcode that is scanned be useful for something.

---
- **Estimated Time:** _8 hours_
- **Prerequisites:** _NutritionModule_ _Nutrition UI_ _Barcode Scanner API_ _Nutrition Database_

[2016-04-10 18:11] Brahmancer opened #100 "Polish Nutrition UI"
Shine the thing up and make it demo-able.

---
- **Estimated Time:** _4 hours_
- **Prerequisites:** _Nutrition UI_ _Nutrition Module_

[2016-04-10 18:29] Brahmancer commented on #99
Find some way to take the barcode then query some barcode database and grab info from it.

[2016-04-11 02:10] Wall-Dough commented on #34
https://github.com/afollestad/material-dialogs

[2016-04-11 05:28] colinrford commented on #43
**Related User Stories**

_1_. "As a user, I would like to see how various aspects of my health routine affect my overall health (and, time permitting, how various aspects of my health routine affect other specific aspects.)"

_2_. "As a user, I would like to receive suggestions on how to improve my health routine."

**Related GitHub Issues**
#40 - leave this one to me, as well as the first user s

[2016-04-11 05:34] colinrford commented on #40
**Related User Stories**

_1_. "As a user, I would like to view how my health has progressed over time in an easy-to-read and easy-to-understand manner."

_2_. "As a user, I would like to see how various aspects of my health routine affect my overall health (and, time permitting, how various aspects of my health routine affect other specific aspects.)"

[2016-04-11 05:35] colinrford commented on #43
never mind

[2016-04-11 05:38] colinrford opened #101 "Improve Daily Overview"
As a user, I would like to see how various aspects of my health routine affect my overall health (and, time permitting, how various aspects of my health routine affect other specific aspects.)

[2016-04-11 05:45] colinrford opened #102 "Improved Health Progression UI"
As a user, I would like to view how my health has progressed over time in an easy-to-read and easy-to-understand manner.

[2016-04-12 18:17] Wall-Dough opened #104 "Meal Reminders"
Use AlarmSender to set up reminders for meals

Allow user to save and remove meal reminders

[2016-04-12 18:38] Wall-Dough opened #105 "Additional Alarm Features"
As a user, I would like to be able to easily cancel the various alarms that I set, as well as to set the frequency of the alarms in useful intervals.

Allow alarms to be cancelled permanently

Allow alarms to be toggled without removal

Allow the user to set the frequency of the alarm/reminder in human-readable formats

[2016-04-12 18:39] Wall-Dough opened #106 "Better Stopwatch"
As a user, I would like to be able to track the amount of time that I am doing certain activities.

Add fields for setting the time on stopwatch
Add toggle button for counting up/down, reset buttons
Add laps for stopwatch

[2016-04-17 17:29] Wall-Dough opened #108 "Find a new recipe API"
RecipePuppy is broken 😢

[2016-04-29 15:23] colinrford commented on #101
Done, for Sprint 3. This will have to be improved upon later (of course)

[2016-04-29 15:23] #101 closed, assigned to colinrford